<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp1.Properties.Settings.db_mytestConnectionString"
            connectionString="Data Source=LAPTOP-7700LIMV\SQLEXPRESS;Initial Catalog=db_mytest;User ID=sa;Password=zhq19731209"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>